.central{
    justify-content: center;
    align-items: center;
    display: flex; 
}

.carta{
     width: 1440px;
}


header{
    display: flex;
    align-items: center;
    gap: 170px;
    background-color: black;
    padding: 10px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

header h1{
    color: white;
    padding-left: 15px;
}

.contenido{
    background-color: white;
    padding: 20px;
    padding-top: 60px;
    display: flex;
    gap: 200px;
    padding-bottom: 180px;
    border: 1px solid grey;
}



.equipos img{
    width: 50px;
}

.equipo{
    font-size: 30px;
}

.equipo1p1{
    display: flex;
    align-items: center;
    gap: 20px;
}

.resultado{
    margin-left: 55px;
     font-size: 30px;
}

.equipo2p1{
    display: flex;
    align-items: center;
    gap: 20px;
}