.central{
    justify-content: center;
    align-items: center;
    display: flex; 
}

.carta{
     background-color: black;
     width: 1440px;
     padding: 10px;
}


header{
    display: flex;
    align-items: center;
    gap: 170px;
}

header img{
    margin-left: 40px;
}

header h1{
    color: white;
}

.nombre img{
    border-radius: 200px;
    width: 180px;
}

.nombre p{
    text-align: center;
    font-size: 30px;
    width: 120%;

}


.contenido{
    background-color: white;
    margin-top: 50px;
    padding: 80px;
    padding-left: 300px;
    display: flex;
    gap: 200px;
    padding-bottom: 180px;
}

.info p{
    width: 85%;
    line-height: 130%;
}

.nom_footer{
    color: white;
    text-align: center;
    margin-top: -15px;
}

.fecha{
    color: white;
    text-align: center;
}